<br />
<div class="row">
<div class="card shadow bg-light col-lg-6 col-md-8 col-md-12 mx-auto ">
  <div class="card-header text-center bg-dark text-white fw-bolder">
      Login
  </div>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label">User Name</label>
        <input class="form-control" type="text" id="txtUserName" [ngClass]="(userName.untouched && userName.invalid && isSubmitted) ? 'showErrorBorder' : ''" formControlName="userName"/>
        <span *ngIf="!userName.valid && (userName.touched || isSubmitted==true)" class="error-block">
          <span *ngIf="userName.hasError('required')">Please enter User Name</span>
        </span>
       </div>
       <div class="form-group">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" id="txtPassword" [ngClass]="(password.untouched && password.invalid && isSubmitted) ? 'showErrorBorder' : ''"  formControlName="password"/>
        <span *ngIf="!password.valid && (password.touched || isSubmitted==true)" class="error-block">
          <span *ngIf="password.hasError('required')">Please enter Password</span>
        </span>
       </div>
      <br />
      <div class="form-group">
        <button  type="submit" class="btn btn-primary" id="btnSave">Login</button> &nbsp;
        <button type="button" (click)="onCancel()" class="btn btn-danger" id="btnCancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
<br />
