<div class="card">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="assets/images/House_Default.jpg" />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-info"><img style="height: 30px; width: 30px;" src="assets/images/phone.svg" /></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-warning"><img style="height: 30px; width: 30px;" src="assets/images/email.svg" /></button>
      </li>
    </ul>
  </div>
  <div class="card-body p2">
    <h1>{{ Property.Name  }}</h1>
    <h2>{{ Property.Type  }}</h2>
    <h3>{{ Property.Price  }}</h3>
  </div>
</div>


