.ng-invalid.ng-touched{
  border-color: red;
}
.showErrorBorder{
  border-color: red;
}

.error-block{
font-size: small;
color:red;
}

.btn-group > label[ng-reflect-btn-radio]
{
  border-radius: 44%;
  padding: 0 15px;
  line-height: 30px;

}

.SpaceAfterNavBar
{
  margin-top: 70px;
}
/* .blackBackground{
  background-color: black;
} */
.whiteBackground
{
  background-color: white;
}
