<br />
<div class="row">
<div class="card shadow bg-light col-lg-6 col-md-8 col-md-12 mx-auto ">
  <div class="card-header text-center bg-dark text-white fw-bolder">
      Register
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" id="txtName" formControlName="userName" />
        <span *ngIf="!userName.valid && (userName.touched || userSubmitted == true)" class="error-block">
          <span *ngIf="userName.hasError('required')">Please enter Name</span>
          <span *ngIf="userName.hasError('minlength')">Name must be atleast 5 characters</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-label" >Email</label>
        <input class="form-control" type="text" id="txtEmail" formControlName="email" />
        <span *ngIf="!email.valid && (email.touched || userSubmitted==true)" class="error-block">
          <span *ngIf="email.hasError('required')">Please enter Email</span>
          <span *ngIf="email.hasError('email')">Please enter Valid Email</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" id="txtPassword" formControlName="password" />
        <span *ngIf="!password.valid && (password.touched || userSubmitted == true)" class="error-block">
          <span *ngIf="password.errors?.['required']">Please enter password</span>
          <span *ngIf="password.errors?.['minlength']">Password must be atleast 8 characters</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-label">Confirm Password</label>
        <input class="form-control" type="password" id="txtConfirmPassword" formControlName="confirmPassword" />
        <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted == true)" class="error-block">
          <span *ngIf="confirmPassword.hasError('required')">Please enter Confirm Password</span>
        </span>
        <span *ngIf="registerForm.errors?.['notmatched'] && confirmPassword.valid" class="error-block">
          Password and Confirm Password does not match
        </span>
      </div>
      <div class="form-group">
        <label class="form-label">Mobile</label>
        <input class="form-control" type="text" id="txtMobile" formControlName="mobile" />
        <span *ngIf="!mobile.valid && (mobile.touched || userSubmitted == true)" class="error-block">
          <span *ngIf="mobile.hasError('required')">Please enter Mobile Number</span>
          <span *ngIf="mobile.hasError('maxlength')">Mobile Number can not be greater than 10 digit</span>
        </span>
      </div>
      <br />
      <!-- Form Status: {{ registerForm.valid }}
      <br />
      Form Status: {{ registerForm.value | json }}
       <br /> -->
      <div class="form-group">
        <button [disabled]="!registerForm.valid"  type="submit" class="btn btn-primary" id="btnSave">Save</button> &nbsp;
        <button type="button" (click)="onReset()" class="btn btn-danger" id="btnCancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
<br />
